<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <%if (qqq.username) {%>
    <div><span>유저의 이름은 <%= qqq.username %> 입니다.</span></div>
    <%} else{%>
    <div><span>유저의 이름은 없습니다.</span></div>
    <%}%>
    <a href="/test3">back</a>
  </body>
</html>
