<!-- Display visitor data -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Comment</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% data.forEach((visitor)
  </tbody>
</table>
