<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파일 업로드</title>
  </head>
  <body>
    <h1>파일 업로드 실습</h1>

    <!-- 주의) multer는 multipart 가 아닌 폼에서는 동작하지 않음.  -->
    <form action="/result" method="POST" enctype="multipart/form-data">
      <input type="text" placeholder="아이디" name="userId" /><br />
      <input type="text" placeholder="password" name="userPw" /><br />
      <input type="text" placeholder="name" name="name" /><br />
      <input type="text" placeholder="age" name="age" /><br />
      <input type="file" name="userfile" /> <br /><br />
      <button type="submit">회원가입</button>
    </form>
  </body>
</html>
