div {
    width: 100px;
    height: 100px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
}

.container {
    width: 500px;
    height: 500px;
    background-color: blue;
}

.item-1 {
    background-color: aqua;
    position: relative;
    left: 50px;
    top: 30px;
}

.item-2 {
    background-color: yellow;
    position: absolute;
    right: 30px;
    bottom: 100px;
}

.item-3 {
    background-color: pink;
    position: fixed;
    right: 100px;
    top: 100px;
}