div {
    width: 800px;
    height: 500px;
    background-color: skyblue;
    border: 1px solid black;
    background-image: url(https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a)
    
}

.div1 {
    background-color: skyblue;
    /* background-image: url(https://item.kakaocdn.net/do/d84248170c2c52303db27306a00fb861f604e7b0e6900f9ac53a43965300eb9a); */
    background-position: center;
    background-repeat: repeat-x;
}

.div2 {
    background-size: cover;
    background-position: top 30px left 100px;
}

.div3 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}