<html>
  <head>
    <title>Main Page</title>
  </head>
  <body onload="openPopup();">
    <h1>Welcome to my website!</h1>
    <p>방문하면 팝업이 뜨는 페이지 입니다.</p>
    <a href="#" onclick="reloadPoup()">클릭 시, 팝업창을 다시 생성</a>
  </body>
  <script>
    function openPopup() {
      var disablePopup = getCookie("disablePopup");
      if (!disablePopup || cookieValue === "false") {
        window.open("/showPopup", "pop-up", "width=400,height=300");
      }
    }

    function getCookie(name) {
      var cookies = document.cookie.split(";");
      for (var i = 0; i < cookies.length; i++) {
        var cookie = cookies[i].trim();
        if (cookie.startsWith(name + "=")) {
          return cookie.substring(name.length + 1);
        }
      }
      return null;
    }
    let cookieValue = document.cookie
      .split("; ")
      .find((row) => row.startsWith("disablePopup="))
      .split("=")[1];

    function reloadPoup() {
      document.cookie = "disablePopup=false;";
      openPopup();
      console.log(cookieValue);
    }
  </script>
</html>
