<html>
  <head>
    <title>Pop-up Window</title>
  </head>
  <body>
    <h2>Pop-up Window</h2>
    <p>팝업 창</p>
    <input type="checkbox" id="disable-popup" />
    <label for="disable-popup"
      >다시 팝업을 보기 싫다면 왼쪽 상자를 클릭하세요.</label
    >
    <button onclick="savePopupState();">저장 후 창을 닫습니다.</button>
  </body>
  <script>
    function savePopupState() {
      var disablePopup = document.getElementById("disable-popup").checked;
      if (disablePopup) {
        document.cookie =
          "disablePopup=true; expires=" + new Date(2030, 0, 1).toUTCString();
      }
      window.close();
    }
  </script>
</html>
0