<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('include', {title: 'Home'}) %>
  </head>
  <body>
    <h1>์ค์ต. Session ์ฐ์ต</h1>
    <p>์ฌ๊ธฐ๋ Home ์๋๋ค! ๐ก</p>
    <p>๋ก๊ทธ์ธ์ ์์ง ํ์ง ์์ผ์จ๊ตฐ์! ๋ก๊ทธ์ธ์ ์งํํด๋ณด์ธ์!</p>
  </body>
</html>
